@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Cabinet Grotesk', sans-serif;
}

body {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100dvh;
    background-color: #fdfdfd;
    color: black;
}

.hr {
    height: 1px;
    width: 100%;
    background-color: dddddd;
    margin: 30px 0px;
}

/* Header */

header {
    position: relative;
    width: 100%;
    padding: 20px;
    border-bottom: 2px #dddddd solid;
}

header > h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

#adminPanel {
    position: absolute;
    top: 50%;
    right: 0;

    color: black;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#adminPanel:active {
    color: black !important;
}

/* Main */

main {
    padding: 30px;
    flex: 1;
}

/* Tabela de alunos */

#refreshTable {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 0;
    top: 15px;
    font-size: 20px;
    border: 2px #dddddd solid;
    padding: 3px 15px;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;

    transition: all 0.3s;
}

#refreshTable:hover {
    box-shadow: 0 0 0 2px rgba(17, 17, 17, 0.08);
}

#registredStudents {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    text-align: center;
}

#registredStudents > table  {
    width: 100%;
    font-size: 20px;
    border-collapse: collapse;
}

table tr:nth-child(even) {
  background-color: #dddddd4d;
}

#registredStudents > table th, #registredStudents > table td {
    border: 2px solid #dddddd;
    padding: 5px;
} 

#registredStudents > table th {
    width: 25%;
}

.deleteTd {
    width: 60px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.deleteTd svg:hover {
    color: rgb(246, 64, 64);
}

.deleteTd > svg{
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s;
}

table td > input {
    width: 80%;
    padding: 5px;
    border: 2px #dddddd solid;
    outline: 0;
    border-radius: 8px;
    font-size: 18px;

    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

table td > input:hover {
    box-shadow: 0 0 0 1px rgba(17, 17, 17, 0.08);
}

/* Footer */

footer {
    height: 80px;
    padding: 10px;
    border-top: 1px #dddddd solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > h2 {
    font-weight: 500;
}

footer > h2 > a{
    color: rgb(55, 55, 249);
}

/* Warn */

#warn {
    display: none;
    padding: 20px;

    position: absolute;
    left: 10px;
    top: 10px;
    width: 30%;
    border: 2px solid #dddddd;
    background-color: #f4f4f4;
    border-radius: 12px;

    animation: popup 0.5s ease-in-out;
    transition: opacity 0.3s;
}

@keyframes popup {
    from { top: -300px }
    to { top: 10px }
}